@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: white;
    width: 100%;
    min-width: 100%;
    overflow-x: hidden;
    font-family: 'Google Sans', 'Oppen Sans', 'Roboto';
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left{
    display: flex;
    align-items: center;
}

.navbar-left img{
    width: 70px;
    height: auto;
    padding: 5px 20px 5px 20px;
}

.navbar-left div{
    font-family: "SoDo Sans SemiBold", Arial, Helvetica, Helvetica Neue, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5rem;
}

.navbar-right{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.navbar-right a{
    padding: 10px 20px 10px 20px;
    font-family: "SoDo Sans SemiBold", Arial, Helvetica, Helvetica Neue, sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    text-decoration: none;
    margin: 5px;
}

.channel-link{
    display: flex;
    align-items: center;
    transition: all 0.3s ease-out;
    margin-right: -15px;
}

.channel-link svg{
    margin-left: 30px;
    width: 24px;
    height: 24px;
    fill: black;
    transition: fill 0.3s ease-out;
    margin-right: -15px;
}

.channel-link a{
    color: black;
    text-transform: uppercase;
    transition: color 0.3s ease-out;
    cursor: pointer;
    text-align: center;
}


.channel-link:hover a{
    color: rgb(151, 0, 221);
}

.channel-link:hover svg{
    fill: rgb(151, 0, 221);
}

.filled-link,
.unfield-link{
    text-transform: uppercase;
    border: 1px solid black;
    border-radius: 40px;
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.filled-link{
    background-color: black;
    color: white;
}

.filled-link:hover{
    background-color: rgba(0, 0, 0, 0.7);
}

.unfield-link{
    color: black;
}

.unfield-link:hover{
    background-color: rgba(0, 0, 0, 0.08);
}

.title-name{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
}

.title-name div{
    font-family: "SoDo Sans SemiBold", Arial, Helvetica, Helvetica Neue, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2.5rem;
    color: black;
    animation: fadein-name 1.7s forwards;
}
@keyframes fadein-name {
    from{
        opacity: 0;
        color: rgb(151, 0, 221);
    }
    to {
        opacity: 1;
        color: balck;
    }
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4.5rem;
    margin-bottom: 4.5rem;
    animation: fadein-title 1s forwards;
}

@keyframes fadein-title {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.title div{
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    padding: 5px 20px 5px 20px;
}

.title span{
    text-decoration: underline;
    transition: all 0.3s ease;
    cursor: pointer;
}

.title span:hover{
    color: rgba(195, 78, 250, 0.86);
}


.deco-imgs{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;
    margin-top: 180px;
}

.phone{
    width: 300px;
    height: auto;
    z-index: 2;
    animation: fadein-phone 1s forwards;
}

@keyframes fadein-phone {
    from{
        opacity: 0;
        transform: translateY(100px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.deco-1{
    position: absolute;
    width: 250px;
    height: auto;
    transform: rotate(34deg);
    left: 24%;
    margin-bottom: 40px;
}

.deco-2{
    position: absolute;
    width: 270px;
    height: auto;
    transform: rotate(-30deg);
    right: 30%;
    margin-bottom: 200px;
}

.deco-3{
    position: absolute;
    width: 220px;
    height: auto;
    transform: rotate(-20deg);
    right: 27%;
    margin-top: 100px;
    z-index: 3;
}

.deco-1, 
.deco-2,
.deco-3 {
    transition: all 1s ease;
    opacity: 0;
}

.title-scroll{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.title-scroll div{
    color: black;
    font-size: 40px;
    font-weight: 600;
}
.scroll-container{
    overflow: hidden;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: relative;
    padding: 20px 0;
    background-color: white;
    margin-top: 70px;
    margin-bottom: 70px;
    mask-image: linear-gradient(
        to right,
        transparent,
        black 10%,
        black 90%,
        transparent
    );
    -webkit-mask-image: linear-gradient(
        to right,
        transparent,
        black 10%,
        black 90%,
        transparent
    );
}

.scroll-track{
    display: flex;
    width: max-content;
    gap: 30px;
    animation: scroll-anim 20s linear infinite;
}

.scroll-group{
    display: flex;
    gap: 30px;
    align-items: center;
    flex-shrink: 0;
}

.track-2{
    animation-direction: reverse;
    margin-left: 40px;
}

.scroll-btn{
    text-decoration: none;
    padding: 24px 48px;
    color: black;
    background: white;
    border: 1px solid black;
    border-radius: 12px;
    font-size: larger;
    white-space: nowrap;
    transition: all 0.3s ease;
    cursor: pointer;
}

.scroll-btn:hover{
    background: rgba(211, 134, 247, 0.301);
}

@keyframes scroll-anim {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-50%));
    }
}

@media (max-width: 1024px){
    .channel-link svg{
        opacity: 0;
    }
}

.mobile{
    display: none !important;
}

@media (max-width: 768px) {
    .title div{
        font-size: 1.8rem;
    }
    .title-name{
        margin-top: 3rem;
    }
    .title-name div{
        font-size: 2rem;
    }
    .desktop {
        display: none !important;
    } 
    .mobile{
        display: flex !important;
    }
}

.burger {
    display: flex;
    align-items: center;
    margin-right: 5%;
    width: 40px;
    height: 40px;
}

.closebtn{
    display: flex;
    color: rgb(173, 173, 173);
    transition: all 0.3s ease;
    z-index: 99999;
    transform: rotate(0deg);

    pointer-events: none;
    opacity: 0;
    transition:
        opacity 0.6s ease,
        transform 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.close-icon.visible {
    display: flex;
}

.openbtn{
    transition: all 0.3s ease;
    color: black;
}

.openbtn:hover{
    color: rgb(173, 173, 173);
}

.openbtn.hidden{
    display: none;
}

.closebtn.visible{
    display: flex;
    opacity: 1;
    pointer-events: auto;
    transform: rotate(-90deg);
}

.menu{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(20, 20, 20, 0.95);
    backdrop-filter: blur(10px);
    z-index: 9999;


    transform: translateX(100vw);
    transition: transform 0.4s ease, visibility 0.4s ease;
    pointer-events: none;
    visibility: hidden;
}

.menu.visible {
    display: flex;
    transform: translateX(0);
    pointer-events: auto;
    visibility: visible;
}

.links{
    display: flex;
    flex-direction: column;
    margin-top: 20%;
}

.moblink{
    color: rgb(173, 173, 173);
    font-size: 1.5rem;
    text-align: left;
    text-decoration: none;
    padding: 20px 5% 20px 5%;
    transition: all 0.3s ease;
    border-bottom: 1px solid rgb(73, 73, 73);
}

.moblink:first-child{
    border-top: 1px solid rgb(73, 73, 73);
}

.moblink:hover{
    color: rgba(219, 143, 255, 0.86);
}